<?xml version="0.0" ?>
<robot name="paddle">
	<link name="base_link">
		<visual>
			<geometry>
				<cylinder length="0.016" radius="0.08"/>
			</geometry>
		</visual>
	</link>
	<link name="handle">
		<visual>
          <geometry>
            <cylinder length="0.1" radius="0.025"/>
          </geometry>
          <origin rpy="0 1.57075 0" xyz="-0.13 0 0"/>
		</visual>
	</link>

	<joint name = "paddle_to_handle" type="fixed">
      <parent link="base_link"/>
      <child link="handle"/>
      <origin xyz="0 0 0"/>
	</joint>
</robot>